<h1>Reviews</h1>
<div class="text-end">
	<a routerLink="/review/add" class="btn btn-success mb-2">Add Review</a>
</div>
<div *ngIf="reviews === null">
	<div class="row">
		<h5>No review has been added yet</h5>
	</div>
</div>
<div *ngFor="let review of reviews">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<span class="fs-5">Review</span>
				</div>
				<div class="col text-end">
					<a routerLink="/review/edit/{{review.reviewId}}" class="btn btn-sm btn-primary me-2">Edit</a>
					<button (click)="deleteReview(review.reviewId)" class="btn btn-sm btn-danger">Delete</button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="card-body">
				<h5 class="card-title" *ngFor="let restaurant of restaurants">{{restaurant.id == review.restaurantId ? restaurant.restaurantName : ''}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{review.username}}</h6>
				<div>
					<span class="fa fa-star {{review.reviewRating >= 1 ? 'checked' : ''}}"></span>
					<span class="fa fa-star  {{review.reviewRating >= 2 ? 'checked' : ''}}"></span>
					<span class="fa fa-star  {{review.reviewRating >= 3 ? 'checked' : ''}}"></span>
					<span class="fa fa-star  {{review.reviewRating >= 4 ? 'checked' : ''}}"></span>
					<span class="fa fa-star  {{review.reviewRating >= 5 ? 'checked' : ''}}"></span>
				</div>
				<p class="card-text">{{review.reviewDetail}}</p>
			</div>
		</div>
	</div>
</div>
