<div class="card">
	<h4 class="card-header">Review A</h4>
	<div class="card-body">
		<div class="card-body">
			<h5 class="card-title">Restaurant Name</h5>
			<h6 class="card-subtitle mb-2 text-muted">User Name</h6>
			<h6 class="card-subtitle mb-2 text-muted">Rating</h6>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque, doloremque eum explicabo illum in inventore ipsam iusto natus neque obcaecati odio officia praesentium, quae quaerat quam quis sapiente sequi tempora voluptates. Minima.</p>
		</div>
	</div>
</div>
