<div class="col-md-6 offset-md-3 mt-5">
	<div class="card">
		<h4 class="card-header">About</h4>
		<img src="./assets/about.jpg" class="card-img-top" alt="Profile image">
		<div class="card-body">
			<h5 class="card-title">Jusneo Yang</h5>
			<h6 class="card-subtitle mb-2 text-muted">jyang2918@conestogac.on.ca</h6>
			<p class="card-text">
				Final Project PROG2430 - Programming: Mobile Applications I Section 3
			</p>
			<a href="https://www.linkedin.com/in/junseo-yang">Linkedin Profile</a>
		</div>
	</div>
</div>
