<div class="card">
	<h4 class="card-header" *ngIf="isAddMode">Add Review</h4>
	<h4 class="card-header" *ngIf="!isAddMode">Edit Review</h4>
	<div class="card-body">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group mb-3">
				<label for="restaurantId" class="form-label">Restaurant Name *</label>
				<select formControlName="restaurantId" name="restaurantId" id="restaurantId" class="form-select">
					<option [ngValue]="null" disabled>Select a Restaurant</option>
					<option *ngFor="let restaurant of restaurants" [ngValue]="restaurant.id">{{restaurant.restaurantName}}</option>
				</select>
			</div>
			<div class="form-group mb-3">
				<label for="username" class="form-label">Username *</label>
				<input type="text" name="username" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" readonly />
				<div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
					<div *ngIf="f['username'].errors['required']">Username is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="reviewRating" class="form-label">Review Rating *</label>
				<input type="number" name="reviewRating" id="reviewRating" formControlName="reviewRating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['reviewRating'].errors }" />
				<div *ngIf="submitted && f['reviewRating'].errors" class="invalid-feedback">
					<div *ngIf="f['reviewRating'].errors['required']">Review Rating is required</div>
					<div *ngIf="f['reviewRating'].errors['min'] || f['reviewRating'].errors['max']">Review Rating is a integer number between 1 to 5</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="reviewDetail" class="form-label">Review Detail *</label>
				<input type="text" name="reviewDetail" id="reviewDetail" formControlName="reviewDetail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['reviewDetail'].errors }" />
				<div *ngIf="submitted && f['reviewDetail'].errors" class="invalid-feedback">
					<div *ngIf="f['reviewDetail'].errors['required']">Review Detail is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<button class="btn btn-primary">Save</button>
				<a routerLink="/review/list" class="btn btn-link">Cancel</a>
			</div>
		</form>
	</div>
</div>
