<div class="card">
	<h4 class="card-header" *ngIf="isAddMode">Add Review</h4>
	<h4 class="card-header" *ngIf="!isAddMode">Edit Review</h4>
	<div class="card-body">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group mb-3">
				<label for="restaurantId" class="form-label">RestaurantId</label>
				<input type="text" name="restaurantId" id="restaurantId" formControlName="restaurantId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['restaurantId'].errors }" />
				<div *ngIf="submitted && f['restaurantId'].errors" class="invalid-feedback">
					<div *ngIf="f['restaurantId'].errors['required']">RestaurantId is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="userId" class="form-label">UserId</label>
				<input type="text" name="userId" id="userId" formControlName="userId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['userId'].errors }" />
				<div *ngIf="submitted && f['userId'].errors" class="invalid-feedback">
					<div *ngIf="f['userId'].errors['required']">UserId is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="reviewRating" class="form-label">Review Rating</label>
				<input type="text" name="reviewRating" id="reviewRating" formControlName="reviewRating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['reviewRating'].errors }" />
				<div *ngIf="submitted && f['reviewRating'].errors" class="invalid-feedback">
					<div *ngIf="f['reviewRating'].errors['required']">Review Rating is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="reviewDetail" class="form-label">Review Detail</label>
				<input type="text" name="reviewDetail" id="reviewDetail" formControlName="reviewDetail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['reviewDetail'].errors }" />
				<div *ngIf="submitted && f['reviewDetail'].errors" class="invalid-feedback">
					<div *ngIf="f['reviewDetail'].errors['required']">Review Detail is required</div>
				</div>
			</div>
			<div class="form-group mb-3">
				<button class="btn btn-primary">Save</button>
				<a routerLink="../../list" class="btn btn-link">Cancel</a>
			</div>
		</form>
	</div>
</div>
