<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="home">Fabulous Restaurants</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
				<a class="nav-item nav-link" routerLink="/account/login" routerLinkActive="active">Login</a>
				<a class="nav-item nav-link" routerLink="/account/register" routerLinkActive="active">Register</a>
				<a class="nav-item nav-link" routerLink="/restaurant/list" routerLinkActive="active">Restaurants</a>
				<a class="nav-item nav-link" routerLink="/restaurant/add-edit" routerLinkActive="active">Restaurant Add/Edit</a>
				<a class="nav-item nav-link" routerLink="/review/list" routerLinkActive="active">Reviews</a>
				<a class="nav-item nav-link" routerLink="/review/add-edit" routerLinkActive="active">Review Add/Edit</a>
				<a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
				<a class="nav-item nav-link" (click)="logout()">Logout</a>
			</div>
		</div>
	</div>
</nav>
